#nav {
    .nav_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ABD373;
        padding: 13px 100px;
        color: #fff;
        font-weight: 400;

        p {
            text-transform: uppercase;
            font-size: 0.9rem;
        }

        // .lang_select{

        // }
    }

    .nav_middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 100px;
        border-bottom: 1px solid #ccc;

        .contact_phone {
            display: flex;
            align-items: center;

            div {
                background-color: #ABD373;
                width: 44px;
                height: 42px;
                padding: 10px;
                border-radius: 6px;
                font-size: 1.3rem;
                color: #fff;
                display: grid;
                place-items: center;
                // text-align: center;

            }
        }

        .nav_info {
            ul {
                display: flex;
                align-items: center;

                i {
                    color: #666;
                    padding: 10px;
                    font-size: 1.1rem;
                }
            }

        }
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
    color: #fff;

    &.active {
        display: block;
    }

    .inp_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        p {
            font-size: 1.3rem;
        }

        input {
            border: none;
            outline: none;
            background: none;
            padding: 20px 90px;
            font-size: 2rem;
            border-bottom: 1px solid #fff;

            &::placeholder {
                text-align: center;
                color: #666;
            }
        }
    }

}

.header {
    position: sticky;
    font-size: 16px;

    justify-content: center;
    display: flex;
    padding: 20px 0px;
    gap: 40px;
    color: #666;

    &>ul {
        display: flex;
        gap: 30px;


        li {
            position: relative;

            ul {
                position: absolute;
                display: none;
                background-color: rgb(219, 240, 188);
                width: 160px;
                margin: 20px;


            }

            .listbox {
                position: absolute;
                display: flex;
                width: 550px;
                display: none;
                margin: 20px;
                gap: 30px;
                border: 1px solid rgb(219, 240, 188);
                background-color: rgb(219, 240, 188);

                ul {
                    position: static;
                }
            }
        }

        li:hover {
            ul {
                display: block;
            }

            .listbox {
                display: flex;
            }
        }
    }
}

.section_plant {
    background-color: rgb(250, 231, 201);
    width: 100%;
    height: 700px;
}

.slider_right_left{
    display: flex;
    justify-content: space-around;
   
    

}
.slide_inner{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.slide_inner_left{
    
    font-size: 25px;
    justify-content:center;
    
    display: flex;
    flex-direction:column;
    
    h{font-size: 60px;

    }
    h1{
        font-size: 60px;
    }
h{
font-size: 25px;
}
}
.slide_inner_right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    img{
        width: 100%;

    }
}
.container {
    padding: 90px 0px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.button{
    height: 70px;
    width: 250px;
    border-radius: 40px;
    
    
}
.container{
    .image_ship{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:30px ;
    }
}
.shipping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed green($color: #000000);
}
.title_product {
    text-transform: uppercase;
    position: relative;
    color: #393939;
    font-size: 36px;
    line-height: 27px;
    padding-left: 90px;
    padding-right: 90px;
    font-weight: 700;
    text-align: center;
}

.title_product::before {
    background-color: #abd373;
    width: 70px;
    height: 2px;
    position: absolute;
    content: "";
    top: 50%;
    left: 549px;
}

.title_product::after {
    background-color: #abd373;
    width: 70px;
    height: 2px;
    position: absolute;
    content: "";
    top: 50%;
    right: 549px;
}

.container_product {
    padding: 90px 0px;
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 22px;

}

.featured {
    border: 1px solid grey;
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 5%;
}

.bestseller {
    border: 1px solid grey;
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 5%;
}

.latest {
    height: 50px;
    width: 150px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5%;
}

.nav_info {
    display: flex;

    .icons {
        a {
            color: black;

            i {
                margin: 0px 5px;
                font-size: 20px;

                &:hover {
                    color: chartreuse;
                    transition: 0.2s;
                }
            }
        }
    }
}